body
{
    font-family: 'Oswald', sans-serif;
    background-color: antiquewhite;
}

.header_div
{
    background: burlywood;
    color: aquamarine;
}

.header_div p{
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.copy_right_footer {
    position: fixed;
    color: navy;
    bottom: 0;
    width: 100%;
    font-size: 20;
    background-color: skyblue;
    line-height: 3;
    text-align: center;
    text-shadow: 7px -3px 5px blue;
}